*{
	font-family: tahoma;
}

h2 {
	text-align: center;
	margin-top: 100px;
}
.login{
	background-image: url(../img/11.jpg);
	background-size: cover;
}	

form{
	width: 20%;
	margin: auto;
	border: 1px solid rgb(200,200,200);
	padding: 20px;
	border-radius: 4px;

}

form h2 {
	text-align: center;
	margin: 0;
	padding: 0;
}

form ul input{
width:83%;
margin-top: 6px;
border: 1px solid rgb(200,200,200)
border-left:5px,solid blue;
border-radius: 8px;
padding: 8px 0;
text-align: center;
outline: none;

}

button {
	margin-left: 124px;
	border:0;
	padding:10px 20px;
	cursor: pointer;
	background-color: #0095f3;
	color: #fff
}
