body {
  background-image: url(11.jpg);
  background-size: 100%;
  font-family: sans-serif;
}

h2 {
  text-align: center;
  color: #fff;
  margin-top: 20px;
}

.login {
  padding: 1em;
  margin: 2em auto;
  width: 17em;
  background: #fff;
  border-radius: 30px;
}
  
label {
  border-radius: 15px;
  font-size: 10pt;
  color: #555;
}

input[type="text"],
input[type="password"],
textarea {
  padding: 8px;
  width: 95%;
  background: #efefef;
  border: 0;
  font-size: 10pt;
  margin: 6px 0px;
}

.tombol {
  border-radius: 15px;
  background: #3498db;
  color: #ffeffe;
  border: 0;
  padding: 5px 8px;
  margin: 20px 0px;
}
.kontak_table{
background: white;
color: black;
font-size: 11pt;
width: 500px;
border: none;
border-radius: 3px;
margin: 80px auto;
padding: 10px 20px;
  }

  .form_makanan{
    /*membuat lebar form penuh*/
    box-sizing : border-box;
    width: 100%;
    padding: 10px;
    font-size: 11pt;
    margin-bottom: 20px;
}

.tombol_radio{
input[type=radio]:not(old):checked + label > span > span{
  display          : block;
  width            : 0.5em;
  height           : 0.5em;
  margin           : 0.125em;
  border           : 0.0625em solid rgb(115,153,77);
  border-radius    : 0.125em;
  background       : rgb(153,204,102);
  background-image :    -moz-linear-gradient(rgb(179,217,140),rgb(153,204,102));
  background-image :     -ms-linear-gradient(rgb(179,217,140),rgb(153,204,102));
  background-image :      -o-linear-gradient(rgb(179,217,140),rgb(153,204,102));
  background-image : -webkit-linear-gradient(rgb(179,217,140),rgb(153,204,102));
  background-image :         linear-gradient(rgb(179,217,140),rgb(153,204,102));
}
}